/* nav bar css */
.nav1{
 display: flex; 
justify-content: space-between;
margin-bottom: 30px;
padding: 0 80px;
background-color: #53a8b6;
color: white;
height: 80px;
align-items: center;

}
/*  link css */
.bag{
  color: white;
  cursor: pointer;
  text-decoration: none;
}
/* a div that contains the item cards */
.container{
  margin-left: 80px;
  
  display: grid;
  /* 
The grid-template-columns CSS property defines the line names and track sizing functions of the grid columns.
  The repeat() CSS function represents a repeated fragment of the track list, allowing a large number
   of columns or rows that exhibit a recurring pattern to be written in a more compact form.
   auto- As a maximum represents the largest max-content size of the items in that track.
 */
  grid-template-columns: repeat(4, auto);
  row-gap: 40px;

}

